= form_tag 'http://127.0.0.1:3007/api/masterpass',authenticity_token: false, id: :masterpass_espago_form do
  = hidden_field_tag 'masterpass_action', data[:masterpass_action]
  = hidden_field_tag 'app_id', data[:app_id]
  = hidden_field_tag 'session_id', data[:session_id]
  = hidden_field_tag 'user_id', data[:user_id]
  = hidden_field_tag 'api_version', data[:api_version]
  = hidden_field_tag 'checksum',  data[:checksum]
  .button
    = button_tag( t("activerecord.models.espago.masterpass.pairing"), style:'float:left')
    #espagoloading{style:"display:none;float:left"}
      %img{src:'https://sandbox.masterpass.com/lightbox/version90/Switch/assets/img/spinner.gif', style:'margin-left:10px;width:30px'}
