= form_tag Espago::SecureWebPage.form_post, authenticity_token: false, id: :espago_secure_web_page do
  = hidden_field_tag 'api_version', data[:api_version]
  = hidden_field_tag 'app_id', data[:app_id]
  = hidden_field_tag 'kind', data[:kind]

  = hidden_field_tag 'session_id', data[:session_id]
  = hidden_field_tag 'amount', data[:amount]
  = hidden_field_tag 'currency', data[:currency]
  = hidden_field_tag 'title', data[:title]

  = hidden_field_tag 'description', data[:description]
  = hidden_field_tag 'email', data[:email]
  = hidden_field_tag 'positive_url', data[:positive_url]
  = hidden_field_tag 'negative_url', data[:negative_url]

  = hidden_field_tag 'ts',  data[:ts]
  = hidden_field_tag 'service_client_id', data[:service_client_id]
  = hidden_field_tag 'checksum',  data[:checksum]
  - data[:shopping_cart_items].each_with_index do |shopping_cart_item,index|
    = hidden_field_tag "shopping_cart_items[#{index}][description]",  shopping_cart_item[:description]
    = hidden_field_tag "shopping_cart_items[#{index}][quantity]",  shopping_cart_item[:quantity]
    = hidden_field_tag "shopping_cart_items[#{index}][value]",  shopping_cart_item[:value]
    = hidden_field_tag "shopping_cart_items[#{index}][image_url]",  shopping_cart_item[:image_url]

  .button
    = button_tag( t("activerecord.models.espago.secure_web_page.buy"), style:'float:left')
